<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bewerberpool.My.MySettings.bewerberConnectionString"
            connectionString="Server=127.0.0.1; uid=root; pwd=heyduck1!; Convert Zero Datetime=True; persistsecurityinfo=True; database=bewerberneu;"
            providerName="MySql.Data.MySqlClient" />
        <add name="bewerberpool.My.MySettings.oaConnectionString" connectionString="Server=127.0.0.1; uid=root; pwd=heyduck1!; database=oa;"
            providerName="MySql.Data.MySqlClient" />
        <add name="bewerberpool.My.MySettings.heyduckConnectionString"
            connectionString="server=heyduck-personalservice.de;user id=heyduck;password=heyduck1!;persistsecurityinfo=True;database=heyduck;"
            providerName="MySql.Data.MySqlClient" />
        <add name="bewerberpool.My.MySettings.benutzerverwaltungConnectionString"
            connectionString="Server=127.0.0.1;user id=root;password=heyduck1!;persistsecurityinfo=True;database=benutzerverwaltung;"
            providerName="MySql.Data.MySqlClient" />
        <add name="bewerberpool.My.MySettings.newsletterConnectionString"
            connectionString="server=heyduck-personalservice.de;user id=newsletter;password=EeVBHjtF;persistsecurityinfo=True;database=newsletter;Convert Zero Datetime=True;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>